.body {
    background: lightgray;
}
.amakan-header {
    height: 130px;
}
.btn, .navbar, .form-control{
    border-radius: 0;
}
.navbar-default {
    background: crimson;
    border: transparent;
    border-top: 5px solid graytext;
    border-bottom: 5px solid graytext;
}
.nav-image {
    height: 100px;
    width: 240px;
    margin-top: 10px;
}
.navbar-nav > li:hover {
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;

    background: ghostwhite;
}
.navlink {
    margin: 50px 0px 0px 0px;
    color: dimgray;
}
.navbar-default .navbar-nav
> li > a {
    color: #ffffff;
    font-size: 20px;
}
.well-1{
    border-radius: 15px;
}
p{
    font-size: 16px;
}
.well-2{
    border-radius: 15px;
    height: 480px;
}
